div{
    background-color: tomato;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 30px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
    